.section3 {
  background-color: #ede9ef;
}
.section3 div {
  padding: 20px;
  border-radius: 10px;
}
.section3 div p {
  font-size: 10px;
  text-align: center;
}
.section3 button {
  width: 100px;
  border: 1px solid purple;
  border-radius: 3px;
  color: purple;
  background-color: transparent;
}
.section3-divs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.active{
  display: none;
}
@media (max-width: 989px) {
  .section3 div {
    max-width: 500px;
  }
  .section3-divs {
    flex-direction: column;
  }
}
