.section5{
    padding: 20px;
    background-color: #EDE9EF;
}
.section5 p{
 font-weight: 500;
 margin-bottom: 10px;
}
.section5 h5{
    margin-bottom: 30px;
}
.download-btns{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;

}
.download-btns img{
    width: 100px;
}
.started-btn{
text-decoration: none;
padding: 8px 65px;
background-color: #7C20BF;
color: white;
}